{% extends "base.html" %}

{% block title %} dashbord {% endblock title%}

{% block content %}
    <div class="container">
        {% if user_data_list is none %}
            <h1> there is no not yet please create some </h1>
        {% else %}
            <div class= row>
                <div class="col">name</div>
                <div class="col">create time</div>
                <div class="col">state</div>
            </div>
            {% for user_data in user_data_list %}
            <div class=" row" id={{user_data.id}}>
                <div class="col">{{user_data.id }}</div>
                <div class="col">{{user_data.title}}</div>
                <div class="col">{{user_data.create_time}}</div>
                <div class="col">{{user_data.is_done}}</div>
            </div>
            {% endfor%}
        {% endif %}
    </div>
{% endblock content%}